<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youjun.api.modules.job.mapper.ScheduleJobMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.youjun.api.modules.job.model.ScheduleJob">
		<id column="id" property="id" />
		<result column="beanName" property="beanName" />
		<result column="params" property="params" />
		<result column="cronExpression" property="cronExpression" />
		<result column="status" property="status" />
		<result column="remark" property="remark" />
		<result column="createdBy" property="createdBy" />
		<result column="createdDt" property="createdDt" />
		<result column="modifiedBy" property="modifiedBy" />
		<result column="modifiedDt" property="modifiedDt" />
	</resultMap>

</mapper>